html {background-color:transparent;}
body {line-height: 120%;  background-color:#ffffd2; color: black}
A:link { text-decoration:underline; font-weight:bold; color:#161FFA }
A:visited { text-decoration:underline;font-weight:bold; color:#06AAFF }
A:active { text-decoration:underline; font-weight:bold; color:#8470FF }
A:hover {  text-decoration:underline;font-weight:bold; color:#FF707F }
H1 {text-align: center}

.markdown-body h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  font-size: 1.2em;
  border-top: 1px solid #eaecef;
}
